<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cloudantHost</key>
    <string>REPLACEME.cloudantServiceName.host</string>
    <key>cloudantIam_serviceid_crn</key>
    <string>REPLACEME.cloudantServiceName.iam_serviceid_crn</string>
    <key>cloudantIam_apikey_description</key>
    <string>REPLACEME.cloudantServiceName.iam_apikey_description</string>
    <key>cloudantApikey</key>
    <string>REPLACEME.cloudantServiceName.apikey</string>
    <key>cloudantUrl</key>
    <string>REPLACEME.cloudantServiceName.url</string>
    <key>cloudantPassword</key>
    <string>REPLACEME.cloudantServiceName.password</string>
    <key>cloudantIam_role_crn</key>
    <string>crn:v1:bluemix:public:iam::::serviceRole:Manager</string>
    <key>cloudantIam_apikey_name</key>
    <string>REPLACEME.cloudantServiceName.iam_apikey_name</string>
    <key>cloudantPort</key>
    <string>443</string>
    <key>cloudantUsername</key>
    <string>REPLACEME.cloudantServiceName.username</string>
    <key>appName</key>
    <string>iosinfinitescrollingcloudant</string></dict>
</plist>
