<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudant</key>
	<dict>
		<key>host</key>
		<string>REPLACEME.cloudantServiceName.host</string>
		<key>iam_serviceid_crn</key>
		<string>REPLACEME.cloudantServiceName.iam_serviceid_crn</string>
		<key>iam_apikey_description</key>
		<string>REPLACEME.cloudantServiceName.iam_apikey_description</string>
		<key>apikey</key>
		<string>REPLACEME.cloudantServiceName.apikey</string>
		<key>url</key>
		<string>REPLACEME.cloudantServiceName.url</string>
		<key>password</key>
		<string>REPLACEME.cloudantServiceName.password</string>
		<key>iam_role_crn</key>
		<string>crn:v1:bluemix:public:iam::::serviceRole:Manager</string>
		<key>iam_apikey_name</key>
		<string>REPLACEME.cloudantServiceName.iam_apikey_name</string>
		<key>port</key>
		<string>443</string>
		<key>username</key>
		<string>REPLACEME.cloudantServiceName.username</string>
	</dict>
	<key>appName</key>
	<string>iosinfinitescrollingcloudantapp</string>
</dict>
</plist>
